<% provide :title, 'Home' %>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("new-aikido.jpg", class: "img-circle", height: '140', width: '140') %>
      <h3>关于合气道</h3>
      <p>合气道，是开祖植芝盛平在研习了日本传统的武术深奥意义后，经过更加严厉的精神修行而发展的现代武艺。合气道是不与对手有竞争，这种技法，不伤及对手生命，又能很好的制止对方的暴力行径。是对人生命的尊重的现代武...</p>
      <%= link_to "了解更多", aikido_path, class:  "btn btn-default"%>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("h-aikidoc.jpg", class: "img-circle", height: '140', width: '140') %>
      <h3>道场介绍</h3>
      <p>秋为荣景，借敝馆相师广友，绵薄之力，愿合气盛荣。秋为有成，吾欲细心耕耘，不求速达，但有小成。秋风习习，不及夏雨贯耳，冬雪凄厉，浑然天成 ，扫天下落叶。合气之道， 如是也。我们保持开放...
      </p>

      <%= link_to "了解更多", dojo_path, class:  "btn btn-default"%>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag("h-aikido-2.jpg", class: "img-circle", height: '140', width: '140') %>
      <h3>新手学堂</h3>
      <p>
      对于希望加入练习的新生，要求必须认真参观一次完整的训练。在参观后，我们才接受关于加入的各类事项具体询问。参观之前，请先email来预约一下，大概说明一下自己的情况和来参观的时间。如需参观请...
      </p>
      <%= link_to "了解更多", newbie_path, class:  "btn btn-default"%>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">合気道上海秋风馆指導者<span class="text-muted">朱博海（三段）</span></h2>
      <p class="lead">
      	简介：合气道三段。<br>
        2003年开始在上海国际合气道爱好会练习合气道，至今有12年的合气道练习经验。<br>
        于2014年本部巡回审查由本部难波弘之师范审查获得三段。
      </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("zbh.jpg",width: '500', class: "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">合気道上海秋风馆副指導者<span class="text-muted">马丽娜（三段）</span></h2>
      <p class="lead">
        简介：合气道三段。<br>
        2009年开始练习合气道。<br>
        于2015年本部巡回审查由本部难波弘之师范审查获得三段。</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("mls.jpg",width: '500', class: "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12 dan">
      <h2 class="featurette-heading text-center">合気道上海秋风馆-有段者</h2>
      <div class="row">
        <div class="col-md-4"><%= image_tag("ty.jpg", class: "img-thumbnail", width: '180') %></div>
        <div class="col-md-4"><%= image_tag("yyq.jpg", class: "img-thumbnail", width: '180') %></div>
        <div class="col-md-4"><%= image_tag("ypq.jpg", class: "img-thumbnail", width: '180') %></div>
      </div>

      <div class="row">
        <div class="col-md-4"><%= image_tag("cr.jpg", class: "img-thumbnail", width: '180') %></div>
        <div class="col-md-4"><%= image_tag("cw.jpg", class: "img-thumbnail", width: '180') %></div>
        <div class="col-md-4"><%= image_tag("zq.jpg", class: "img-thumbnail", width: '180') %></div>
      </div>
    </div>
  </div>

</div>

  <!-- /END THE FEATURETTES -->