<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gkm8vBQ9yIkflKEqatyGxmRE"></script>
  </head>
  <body>
    <%= render "layouts/header"  %>

		<div class="banner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <%= link_to image_tag("banner-1.jpg"), '#'%>
			      <div class="carousel-caption">
			      	<h1>“运动中的禅”</h1>
			        <p>不以蛮力攻击对方，而是将对方的力量引导至无威胁的方向，吸收化为自己的力量而反击。</p>
			      </div>
			    </div>

			    <div class="item">
			      <%= link_to image_tag("banner-2.jpg"), '#'%>
			      <div class="carousel-caption">
			        <h1>“守－破－离”</h1>
			        <p>强调技巧，与年龄、性别、体格无关，完全以调和与使用自己的气，控制与破坏对手的气来决定胜负。</p>
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>

    <div class="container">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
