<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
				<%= link_to image_tag("aki-logo-1.png", height: '46', alt: "Aikido logo"), '#', id: "logo" %>
        <nav>
        	<ul class="nav navbar-nav">
						<li><%= link_to t(:about_aiki_aikido),   '#' %></li>
            <li><%= link_to t(:classes_schedule),   '#' %></li>
            <li><%= link_to t(:gallery),   '#' %></li>
            <li><%= link_to t(:news),   '#' %></li>
            <li><%= link_to t(:contact),   '#' %></li>
        	</ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "中文",   '#' %></li>
            <li><%= link_to "English",   '#' %></li>
          </ul>
        </nav>
      </div>
    </header>

		<div class="banner">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <%= link_to image_tag("banner-1.jpg"), '#'%>
			      <div class="carousel-caption">
			        Aki-Aikido
			      </div>
			    </div>

			    <div class="item">
			      <%= link_to image_tag("banner-2.jpg"), '#'%>
			      <div class="carousel-caption">
			        Aki-Aikido
			      </div>
			    </div>
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
